[submodule "Framework"]
	path = Framework
	url = git@github.com:atmosphere-php/Framework.git
[submodule "Atmosphere"]
	path = Atmosphere
	url = git@github.com:atmosphere-php/Atmosphere.git
[submodule "Website"]
	path = Website
	url = git@github.com:atmosphere-php/Website.git
